/* 
swatch1
#353331
rgb(53, 51, 49)
Main text color

swatch2
#7f7d7a
rgb(127, 125, 122)
medium gray

swatch3
#d3d2d0
rgb(211, 210, 208)
light gray

swatch4
#f3f3f3
rgb(243, 243, 243)
lightest gray

swatch5
#bc9b6a
rgb(188, 155, 106)
bronze

swatch6
#faab31
rgb(250, 171, 49)
accent orange

swatch7
#f7bb3b
rgb(247, 187, 59)
light orange
*/

/* --------------------------
Navigation
----------------------------- */

/* padding-top required for fixed navbar */
/* position: relative; required for scrollspy; (breaks sticky footer) */
/* Margin bottom by footer height if footer is position:fixed; */
body {
  position: relative;
  padding-top: 70px;
}

/* --------------------------
Grid & Components
----------------------------- */

#home .logotype {
  font-family: "Raleway";
  font-size: 6rem;
  font-weight: 400;
  color: #353331;
}

.subtlePattern {
  background-color: #f7bb3b;
  /*background-image: url(img/squairy_orange.png);
  background-repeat: repeat; */
}
/*
html {
  position: relative;
  min-height: 100%;
} */

.footer {
  position: relative;
  margin-top: 24px;
  width: 100%;
  /* Set the fixed height of the footer */
  height: 60px;
  background-color: rgba(188, 155, 106, .7);
  padding-top: 12px;
}


/* --------------------------
Custom Type Styles
----------------------------- */

p,
ul {
  font-family: "Ubuntu";
  font-weight: 300;
  color: #353331;
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: .7rem;
  margin-bottom: 0;
}

.small {
  font-family: "Ubuntu";
  font-weight: 300;
  color: #353331;
  font-size: .9em;
  line-height: 1em;
}
.artGrid {
  margin-top: 30px;
}

.artGrid a {
  margin-bottom: 0px;
}

.caption {
  margin-top: 0;
  margin-left: 6px;
}

.pieceTitle {
  font-family: "Ubuntu";
  font-weight: 500;
  color: #353331;
  font-size: 13px;
  line-height: 1em;
  margin-top: 0;
}

.detail {
  font-family: "Ubuntu";
  font-weight: 400;
  color: #353331;
  font-size: .9em;
  line-height: 1em;
  margin-top: 0;
}

/* --------------------------
Image Gallery
----------------------------*/

#gallery ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}

#gallery li {     
    list-style:none;
    margin-bottom:18px;
}

#gallery img {
    cursor: pointer;
}

.modal-body {
  padding: 5px;
}

.modal-content {
  border-radius: 2px;
}

.modal-dialog img {
  text-align: center;
  margin: 0 auto;
}

.controls{          
    width:50px;
    display:block;
    font-size:.8em;
    padding-top:7px;
    font-weight:bold;          
}

.next {
    float:right;
    text-align:right;
}


/* --------------------------
Media Queries
--------------------------- */

@media screen and (min-width: 768px) {
  #home .logotype {
  font-size: 8rem;
  }

  .footer > .container {
  padding-left: 0;
  }

}
