/* Optional font include
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500|Raleway:400,300);*/
body {
  color: #353331;
  font-size: 16px;
  margin: 1em;
}

h1,
h2,
h3 {
  font-family: "Ubuntu";
  font-weight: 500;
  color: #353331;
}

.styleHead {
  clear: left;
  background-color: #7f7d7a;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 22px;
  padding: 6px 12px;
  font-family: "Ubuntu";
  font-weight: 300;
}

p,
ul {
  font-family: "Ubuntu";
  font-weight: 300;
  color: #353331;
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: .7rem;
  margin-bottom: 0;
}

.small {
  font-family: "Ubuntu";
  font-weight: 400;
  color: #353331;
  font-size: .9em;
  line-height: 1em;
  margin: 0;
}

.logotype {
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 400;
  color: #353331;
}
/* swatch container */
.colorSwatch {
  margin: 0 40px 30px 0;
  float: left;
  display: block;
  font-family: "Ubuntu";
  font-weight: 400;
  color: #353331;
  font-size: .9em;
  line-height: 1.2em;
}

/* swatch circle sample */
.color {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.swatch1 {
  background: #353331; /* rgb(53, 51, 49) main text color */
}
.swatch2 {
  background: #7f7d7a; /* rgb(127, 125, 122) medium gray */
}
.swatch3 {
  background: #d3d2d0; /* rgb(211, 210, 208) light gray */
}
.swatch4 {
  background: #f3f3f3; /* rgb(243, 243, 243) lightest gray */
}
.swatch5 {
  background: #bc9b6a; /* rgb(188, 155, 106) bronze */
}
.swatch6 {
  background: #faab31; /* rgb(250, 171, 49) accent orange */
}
.swatch7 {
  background: #f7bb3b; /* rgb(247, 187, 59) light orange */
}

.thumb {
  width: 220px;
  height: 220px;
}

.col-sm-3 {
  display: inline-block;
}